interview/imbalance.xlsx
learn_cmake/build/*
learn_cmake/test/*
learn_pycpp/modify_order_by_weight.pyd
ubuntu/*
interview/np_conv/venv/*
interview/np_conv/params/*
rer_learning_code.VC.db
test_leecode/object/*
test_leecode/bin/*
.vs/*
learn_tf/dogs_vs_cats/*
learn_tf/p080_convDogsCats/dogs_vs_cats.tar.gz
*.pyc
test_leecode/test_leecode.vcxproj.user
file/ASCII.jpg
interview/ans_card.jpg
interview/imbalance.npy
interview/Mrma.png
interview/np_conv/data/t10k-images.idx3-ubyte
interview/np_conv/data/t10k-labels.idx1-ubyte
interview/np_conv/data/train-images.idx3-ubyte
interview/np_conv/data/train-labels.idx1-ubyte
learn_tf/dogs_vs_cats.zip
learn_tf/MNIST_data.zip
learn_tf/MNIST_data/t10k-images-idx3-ubyte.gz
learn_tf/MNIST_data/t10k-labels-idx1-ubyte.gz
learn_tf/MNIST_data/train-images-idx3-ubyte.gz
learn_tf/MNIST_data/train-labels-idx1-ubyte.gz
learn_tf/neuralnetwork-programming-ed1.zip
