interview/imbalance.xlsx
learn_cmake/build/*
learn_cmake/test/*
learn_pycpp/modify_order_by_weight.pyd
ubuntu/*
interview/np_conv/venv/*
interview/np_conv/params/*
rer_learning_code.VC.db
test_leecode/object/*
test_leecode/bin/*
.vs/*
